*{
margin: 0;
padding: 0;
}

.footer{
    
    width: 100%;
    /* height: 435px; */
    background: #EDEDED 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
    padding-top: 2rem;
    border: 4px solid green;
    margin-top: 25rem;
    padding-bottom: 2rem;

}

.columdiv1{
  margin: 0 1rem 0 3rem;
  border: 1px solid;
  width: 20%;
}

.columdiv2{
    margin: 0 2rem 0 2rem;
    border: 1px solid;
    width: 15%;
  }

  .columdiv3{
    margin: 0 2rem 0 2rem;
    border: 1px solid;
    width: 15%;
  }

  .columdiv4{
    margin: 0 2rem 0 2rem;
    border: 1px solid;
    width: 15%;
  }
  
  .columdiv5{
   margin: 0 2rem 0 2rem;
   border: 1px solid;
   width: 30%;
  }
  

.footerhead1{
  
    width: 271px;
    height: 29px;
    text-align: left;
    font: normal normal medium 25px/29px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 100%;
    margin: 15px 0 0 0;
    font-size: 25px;
}

.apple{
    
    width: 210px;
    height: 62px;
    background: transparent url('../assest/Image 8apple.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px 0 0 0;
}

.android{

width: 210px;
height: 62px;
background: transparent url('../assest/Image 7.png') 0% 0% no-repeat padding-box;
opacity: 1;
margin: 10px 0 0 0;
}

.copyright{
    
    width: 292px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 7rem 0 2rem 0;
}

.columdiv2 .general{
    text-align: left;
    font: normal normal medium 25px/29px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 15px 0 0 0;
    font-size: 25px;
}
.columdiv2 .signup{
    

    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
    font-size: 15px;
    padding-bottom: 1vh;
}
.columdiv2 .aboutus{
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    
    
}

.tectoninskillz{
    
    width: 113px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.contactp{
    width: 74px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;   
    margin: 1vh 0 0 0;
}
.careers{

width: 52px;
height: 18px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/18px Roboto;
letter-spacing: 0px;
color: #143754;
opacity: 1;
margin: 1vh 0 0 0;
}

.community{
    
    width: 129px;
    height: 29px;
    text-align: left;
    font: normal normal medium 25px/29px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 15px 0 0 0;
    font-size: 25px;
}

.createAcccount{
    
    width: 103px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.joinpremium{
   
    width: 93px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.referstofriend{
    
    width: 93px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.support{
   
    width: 89px;
    height: 29px;
    text-align: left;
    font: normal normal medium 25px/29px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 15px 0 0 0;
    font-size: 25px;
   
}

.fqs{
    
    width: 37px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.termsconditions{
   
    width: 123px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.privacypolicy{
   
    width: 96px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.gethelp{
    
    width: 57px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.contactus{
   
    width: 123px;
    height: 29px;
    text-align: left;
    font: normal normal medium 25px/29px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 15px 0 0 0;
    font-size: 25px;
}

.address{
    
    width: 261px;
    height: 105px;
    text-align: left;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin: 1vh 0 0 0;
}

.map{
    
    width: 261px;
    height: 151px;
    opacity: 1;
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin: 2vh 0 0 0;
}

.facebook{
   
    width: 33px;
    height: 33px;
    /* UI Properties */
    background: transparent url('../assest/img/facebook.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.instagram{
    
    width: 33px;
    height: 33px;
    background: transparent url('../assest/img/instagram.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.linkdin{
   
    width: 33px;
    height: 33px;
    background: transparent url('../assest/img/linkedin.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.youtube{
   
    width: 33px;
    height: 33px;
    /* UI Properties */
    background: transparent url('../assest/img/youtube-logotype.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}