/* .form_section{

} */
*{
    margin: 0;
    padding: 0;
}

.form_section{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    border: 3px solid transparent;
    margin-top: 4vh;
    
}

.form_path_corner{
    border: 1px solid transparent;
    
    
    width: 123px;
    height: 203px;
    opacity: 0.6;
    margin-left: -3rem;
    margin-top: -2.6rem;
}

.form_path_corner >img{
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.form_container{
    
    width: 60%;
    height: 537px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    margin-left: 7.2rem;
    margin-top: 16vh;
    border: 2px solid rgb(245, 4, 4);
    align-items: center;
}

.disscusHeading{
    
    width: 174px;
    height: 35px;
    text-align: center;
    font: normal normal medium 30px/35px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin-left: 40%;
    margin-top: 1.5rem;
    font-size: 30px;
}

.disscuspara p{
    
    width: 558px;
    height: 61px;
    text-align: center;
    font: normal normal 300 20px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin-left: 11rem;
}

.Name{

width: 40%;
height: 43px;
/* UI Properties */
background: #EAEAEA 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
margin-left: 2rem;
border: none;
}

.Email{
    top: 1855px;
    left: 691px;
    width: 40%;
    height: 43px;
    /* UI Properties */
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-left: 2rem;
    border: none;
}

.Phone{
    top: 1935px;
    left: 251px;
    width: 40%;
    height: 43px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-left: 2rem;
    border: none;
}
.EnquryType{
    top: 1935px;
    left: 691px;
    width: 40%;
    height: 43px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;margin-left: 2rem;
    border: none;
    
}

.textarea{
    top: 2007px;
    left: 251px;
    width: 80%;
    height: 115px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-top: 2rem;
    margin-left: 3rem;
    border: none;
}

.form_submit_btn{
    top: 2162px;
    left: 582px;
    width: 170px;
    height: 42px;
    /* UI Properties */
    background: #D3262A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    margin-left: 22rem;
    margin-top: 2.5rem;
   
}

.form_submit_btn button{
    top: 2171px;
    left: 628px;
    width: 70px;
    height: 25px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background-color: transparent;
    border: none;
    margin-left: 6vh;
    font-size: 22px;
    margin-top: 1vh;
}

::placeholder{
    padding-left: 1vh;
}

.form_background_img{
    top: 42px;
    left: 0px;
    width: 1366px;
    height: 452px;
    background: transparent url('../assest/herobackground/Group194.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    object-fit: cover;
}