*{
    padding: 0;
    margin: 0;
}

.navbar{
width: 100%;
height: 78px;
background: #3583C5 0% 0% no-repeat padding-box;
opacity: 1;
}

.navbar .navlogo{
    width: 15%;
height: 40px;
opacity: 1;
margin-left: 15vh;
padding-top :1.5vh ;

}

.navbar>ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
    
  }
  
  .navbar>ul >.searchitems{
    
    width: 25%;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top :2.4vh ;
    
  }
 
  .navbar>ul >.searchitems >input{
    border: none;
    width: 80%;
   
  }

  .navbar>ul >.searchitems img{
    margin-top: 7px;
    left: 322px;
    width: 24px;
    height: 25px;
    opacity: 1;
   
  }
  
  .courses{
   
    height: 21px;
    text-align: left;
    font: normal normal 300 18px/31px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top :4vh ;
    padding-left: 9rem;
    
    }

    .techoninskillz{
        
        height: 21px;
        /* UI Properties */
        text-align: center;
        font: normal normal 300 18px/31px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
        margin-top :4vh ;
        padding-left: 5vh;
    }

    .contact{
        
        height: 21px;
        /* UI Properties */
        text-align: left;
        font: normal normal 300 18px/31px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top :4vh ;
        padding-left: 5vh;
    }
  
    .navbtn{
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        opacity: 1;
        margin-top : 3vh ;
        margin-left: 15vh;
        
    }

    .navbtn >button {
        
        width: 114px;
        height: 21px;
        font: normal normal 300 18px/31px Roboto;
        letter-spacing: 0px;
        color: #D3262A;
        opacity: 1;
        border: none;
        background-color: transparent;
        margin-top: 2px;
        margin-left: 3vh;
        
    }

   

    /* .hero{
    width: 100%;
    background: transparent url('../assest/herobackground/ad910b4f657bb57be5f76bd4dc44c288.png') 0% 0% no-repeat ;
    opacity: 1;
    object-fit: cover;
  } */

  .background {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    
   }
   .background >img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    
   
  }

   .text{
    width: 100%;
    height: 452px;
    background: #00000098 0% 0% no-repeat padding-box;
    opacity: 0.52;
    border: 0.001px solid transparent;
   
  
}

    .headingtext{

        text-align: left;
        font: normal normal bold 42px/49px Roboto;
        letter-spacing: 0px;
        color: white;
        text-transform: capitalize;
        opacity: 1;
        /* margin-top: 12rem; */
        margin-left: 5.5rem;
       
        
    }
    
    .content .para{
        
        width: 60%;
        font: normal normal 300 22px/24px Roboto;
        letter-spacing: 0px;
        color:white;
        opacity: 1;
        margin-left: 5.5rem;
        
    }
    .content {
        position: absolute;
        top: 30%;
        left: 1%;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
    }


    
    /* view our couresses */
    /*  */
    .view_Our_courses{
    width: 100%;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
     
    }

   .view_Our_courses>p{
        height: 35px;
        text-align: center;
        font: normal normal medium 30px/35px Roboto;
        letter-spacing: 0px;
        color: #143754;
        opacity: 1;
        justify-content: center;
        font-size: 30px;
        margin: 2rem 0 0 0 ;
    }
    .view_Our_courses>div{
        display: flex;
    }

    .search{
        
        width: 65%;
        height: 39px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #BEBEBE;
        border-radius: 10px;
        opacity: 1;  
        align-items: center; 
        justify-content: flex-start;
        display: flex;
        margin-left: 10%;
       
    }
    .search >input{
        border: none;
        margin-top: 1px;
        margin-left: 1vh;
        height: 25px;
        width: 90%;


    }
    ::placeholder{
        font-size: 15px;
       
    }

    .search >button{
        width: 165px;
        height: 39px;
        background: #3583C5 0% 0% no-repeat padding-box;
        border-radius: 0px 10px 10px 0px;
        border: none;
        opacity: 1;
        color: white;

    }

    .searchlogo2{
        margin-top: 1vh;
        margin-left: 1vh;
    }

    .littlecircle{
        
        width: 20px;
        height: 20px;
        
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 1;
        border-radius: 50%;
        margin-left: 3vh;
        margin-top: 1.5vh;
    }

    .littlecircleText{
        top: 635px;
        left: 1012px;
        width: 159px;
        height: 18px;
        text-align: left;
        font: normal normal normal 15px/18px Roboto;
        letter-spacing: 0px;
        color: #68696A;
        opacity: 1;
        margin-left: 0.5vh;
        margin-top: 1.5vh;

    }

    .courses_text_heading_cot{
    
    margin-top: 3vh;
    margin-bottom: 3vh;
    }

    .courses_text_heading_cot :nth-child(1){
        width: 132px;
        height: 32px;
        text-align: left;
        font: normal normal bold 27px/35px Roboto;
        letter-spacing: 0px;
        color: #315069;
        opacity: 1;
        margin-left: 11.5rem;
    }
    .courses_text_heading_cot :nth-child(2){
        
        width: 100px;
        height: 21px;
        text-align: left;
        font: normal normal 300 18px/35px Roboto;
        letter-spacing: 0px;
        color: #143754;
        opacity: 1;
        margin-left: 3rem;
        font-size: 18px;
        
    }

    .courses_text_heading_cot :nth-child(4){
        
        width: 190px;
        height: 21px;
        text-align: left;
        font: normal normal 300 18px/35px Roboto;
        letter-spacing: 0px;
        color: #143754;
        opacity: 1;
        margin-left: 2rem;
        font-size: 18px;

    }

    .courses_text_heading_cot :nth-child(3){
        top: 690px;
        left: 508px;
        width: 6px;
        height: 14px;
        border: 2px solid #A5A5A5;
        opacity: 1;
        margin-top: 9px;
        margin-left: -4px;
    }


    .courses_containers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    
    }

    .right_path1{
        top: 873px;
        left: -51px;
        width: 123px;
        height: 203px;
        opacity: 0.6;
        margin-left: -7.5vh;
    }
    .right_path1 >img{
        top: 873px;
        left: -51px;
        width: 123px;
        height: 203px;
        opacity: 0.6;
        margin-top: 18vh;
    }
.sidebar{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 2846px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.mid_div_courses{
background: #FFFFFF 0% 0% no-repeat padding-box;

}

.mid_div_courses >div{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    
}

 .course1{
   margin-top: 2vh;
    width: 249px;
    height: 151px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;

}
.course1 img{
    width: 249px;
    height: 151px;
}
.course1Detail{
    
    width: 245px;
    height: 105px;
    background: transparent linear-gradient(258deg, #2E5B9A 0%, #93c8f7 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-top: -2vh;
    padding-bottom: 2vh;
    
   
}
.star{
    top: 956px;
    left: 410px;
    width: 14px;
    height: 14px;
    background: transparent url('../assest/img/star.svg') no-repeat padding-box;
    opacity: 1;
    margin-left: 2px;
    
}

.rating{
    top: 957px;
    left: 509px;
    width: 17px;
    height: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5px;
    font-size: 10px;
    margin-top: 2.5px;
}

.course1Detail .byinstitutename{
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 2vh;
    margin-left: 1vh;
    font-size: 14px;
    margin-top: 5vh;
    margin-bottom: -1vh;
}

.course1Detail h3{
    top: 884px;
    left: 409px;
    width: 211px;
    height: 24px;
    text-align: left;
    font: normal normal medium 20px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 1vh;
    padding-top: 2vh;
}
 

.view_coursesp{
    
    font-size: 10px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5rem;
    
    
}

 .course2{
top: 741px;
left: 713px;
width: 249px;
height: 151px;
/* background: transparent url('img/52f8897dd449275d90586175ec3e63a5.png') 0% 0% no-repeat padding-box; */
border-radius: 10px;
opacity: 1;


}

.course2 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course3{
    top: 741px;
    left: 1011px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/1a29ddff6716c403374c5958de8af701.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    
}
.course3 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course4{
    top: 1013px;
    left: 402px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/0855f10c1aea0387ab9091bb3f5b3f1f.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;

}

.course4 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course5{
    top: 1013px;
    left: 713px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/cb9403bd53a89cc479036fb475acba7d.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;

}

.course5 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course6{
    top: 1013px;
    left: 1011px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/daf9c0858845c2fac42d80dc4d694736.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;
}

.course6 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course7{
    top: 1284px;
    left: 402px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/0855f10c1aea0387ab9091bb3f5b3f1f.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;

}

.course7 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course8{
    top: 1284px;
    left: 713px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/cb9403bd53a89cc479036fb475acba7d.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;

}

.course8 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

 .course9{
    top: 1284px;
    left: 1011px;
    width: 249px;
    height: 151px;
    /* background: transparent url('img/daf9c0858845c2fac42d80dc4d694736.png') 0% 0% no-repeat padding-box; */
    border-radius: 10px;
    opacity: 1;
    margin-top: 6rem;
}

.course9 img{
    width: 249px;
    height: 151px;
    margin-bottom: 1vh;
}

.left_path2{
    top: 652px;
    left: 1315px;
    width: 123px;
    height: 203px;
    margin-top: -13vh;
   
}

.left_path2 >img{
    top: 652px;
    left: 1315px;
    width: 100%;
    height: 203px;
    opacity: 0.6;
    margin-left: 50%;

}

.details{
    top: 878px;
    left: 402px;
    width: 257px;
    height: 105px;
    background: transparent linear-gradient(258deg, #2E5B9A 0%, #3583C5 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background-color: #143754;
    margin-top: 10rem;
}

hr{
width: 80%;
margin-left: 7rem;

}

.photography_blue_box{
    top: 793px;
    left: 97px;
    width: 256px;
    height: 140px;
    background: #2066A2 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.photography_blue_box >div >img{
    top: 815px;
    left: 106px;
    width: 12px;
    height: 0px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    margin-top: 3.4vh;
    margin-right: 1vh;
}

.photography_blue_box >div .phtog{
    top: 806px;
    left: 133px;
    width: 131px;
    height: 24px;
    text-align: left;
    font: normal normal 300 20px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    margin-top: 1.1vh;
}

.photography_blue_box >div .n23{
    top: 806px;
    left: 133px;
    width: 131px;
    height: 24px;
    text-align: left;
    font: normal normal 300 20px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    margin-left: 7vh;
    margin-top: 2vh;
}

.di{
    top: 853px;
    left: 146px;
    width: 130px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/35px Roboto;
    letter-spacing: 0px;
    color: #FFAE2E;
    opacity: 1;
    margin-left: 1vh;
}

.n11{
    top: 853px;
    left: 320px;
    width: 17px;
    height: 18px;
    text-align: right;
    font: normal normal normal 15px/35px Roboto;
    letter-spacing: 0px;
    color: #FFAE2E;
    opacity: 1;
    margin-left: 4vh;
}

.wildlife{
    top: 893px;
    left: 146px;
    width: 137px;
    height: 18px;
    text-align: left;
    font: normal normal normal 15px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.n12{
    top: 893px;
    left: 320px;
    width: 17px;
    height: 18px;
    text-align: right;
    font: normal normal normal 15px/35px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.div_one{
display: flex;
}
.div_one :nth-child(1){
    top: 961px;
    left: 101px;
    width: 12px;
    height: 12px;
    /* background: transparent url('img/Union 5.png') 0% 0% no-repeat padding-box; */
    color:  #143754;
    opacity: 1;
    margin-top: 1vh;
    font-size: 20px;
}
.div_one :nth-child(2){
    top: 1015px;
    left: 123px;
    width: 133px;
    height: 24px;
    text-align: left;
    font: normal normal 300 20px/35px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin-left: 2.5vh;
    font-size: 20px;
}

.div_one :nth-child(3){
    top: 955px;
    left: 315px;
    width: 22px;
    height: 24px;
    text-align: right;
    font: normal normal normal 20px/35px Roboto;
    letter-spacing: 0px;
    color: #315069;
    opacity: 1;
    margin-left: 5.3vh;

}

.div_two{
 display: flex;
 justify-content: space-between;
 margin-top: 6.4vh;
 }

 .div_two :nth-child(1){
    top: 1015px;
    left: 123px;
    width: 133px;
    height: 24px;
    text-align: left;
    font: normal normal 300 20px/35px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin-left: 4vh;
 }

 .div_two :nth-child(2){
    top: 1015px;
    left: 315px;
    width: 22px;
    height: 24px;
    text-align: right;
    font: normal normal normal 20px/35px Roboto;
    letter-spacing: 0px;
    color: #315069;
    opacity: 1;
 }
